[Desktop Entry]
Type=Application
Name=Image Roll
Comment=Image viewer
Exec=/opt/image_roll/image_roll
Icon=com.github.weclaw1.ImageRoll
Terminal=false
Categories=Graphics;